@model IEnumerable<WordMaster.Models.WordMeaningViewModel>

@{
    ViewData["Title"] = "WordMeaning";
}

<h1>Index</h1>

<p>
    <a asp-action="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meaning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LangId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordDefinitionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meaning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LangId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordDefinitionId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
